<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Page Tile => changeable -->
    <title> {% block Title %} Tunisights {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/Libs/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" href="{{ asset('assets/Libs/swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/CSS/NavBar.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,700;1,600&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

    {% block AddCSSLinks %}
        <link rel="stylesheet" href="{{ asset('assets/CSS/styles.css') }}">
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/CSS/Footer.css') }}">


<body {% block BodynameClass %} {% endblock %} >
<!-- Navbar -->
<nav class="navbar navbar-dark navbar-expand-md fixed-top">
    <div class="container-fluid"><a class="navbar-brand" href="{{ path('app_index') }}"><img
                    src="{{ asset('assets/Images/logo.png' ) }}" alt=""></a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="#Discover">Discover</a></li>
                <li class="nav-item"><a class="nav-link active" href="#About-us">About us</a></li>
                <li class="nav-item"><a class="nav-link active" href=""><i class="fas fa-search"></i>
                        Search </a></li>
                {% if not app.user %}
                    <li class="nav-item"><a class="nav-link active" href="{{ path('app_login') }}">Login</a></li>
                {% else %}
                    <li class="nav-item nav__profile ">
                        <div class="avatar">
                            <img class="nav-img" src="{{ asset('assets/Images/' ~ app.user.image) }}">
                        </div>
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li class="nav-item"><a
                                        href=" {{ path('app_profile',{'Userid': app.user.id}) }} ">Profile</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item"><a href="">Settings</a></li>
                            {% endif %}
                            <li class="nav-item"><a href="{{ path('app_logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!--End Navbar -->

{% block SectionsOfTheBody %}

    <div class="CardLoader" id="enabled"></div>
    <!-- Start Header     -->
    <header class="main-header">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-start header-elements">
                        <h1>Never stop <br>Exploring Tunisia</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- Images Of The Swipper in the HomePage -->

        <section class="home" id="home">
            <div class="swiper-container home-slider">
                <div class="swiper-wrapper">
                    {% for i in 1..2 %}
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/jemaa.png') }}" alt=""></div>
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/riviere.png') }}" alt=""></div>
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/ljam.png') }}" alt=""></div>
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/chalel.png') }}" alt=""></div>
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/neigeaindrahem.png') }}" alt="">
                        </div>
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/sahra.png') }}" alt=""></div>
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/bargou.png') }}" alt=""></div>
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/Tozeur.png') }}" alt=""></div>
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/Kerkennah.png') }}" alt=""></div>
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/Ledahar.png') }}" alt=""></div>

                    {% endfor %}

                </div>
            </div>
        </section>

        <!-- Add angle Icon to The Bottom -->
        <div class="text-center link-icon">
            <a href="#Discover" class="angle">
                <i class="fa-solid fa-angles-down"></i>
            </a>
        </div>
    </header>
    <!-- End Header -->


    <!-- Start Discover -->
    <section id="Discover" class="Discover">
        <div class="text-center">
            <h1 class="section-title mx-auto">Discover</h1>

            <hr class="HR-LINE-Discover mx-auto">
            <h1 class="section-title mx-auto">Most Liked Posts </h1>
        </div>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">

                    {% for post in posts %}
                        <div class="card swiper-slide">
                            <div class="image-content">
                                <img src="{{ asset('assets/Images/' ~ post.Image) }}" alt="" class="card-img Post"
                                     Postid="{{ post.id }}">
                            </div>

                            <div class="card-content">


                                <h5 class="title">{{ post.title }}</h5>
                                <p class="description">{{ post.place }}:
                                    {% for i in 1..5 %}
                                        {% if i <= post.rating %}
                                            <i class="fas fa-star"
                                               style="display: inline-block;color: #deb217;font-size: 10px;"></i>
                                        {% else %}
                                            <i class="fas fa-star"
                                               style="display: inline-block;color: #F0F0F0;font-size: 10px;"></i>
                                        {% endif %}
                                    {% endfor %}

                                    <br>{{ post.description }}</p>
                                <div class="container">
                                    <div class="row">
                                        <a href="{{ path('app_profile',{'Userid': post.owner.id}) }}"
                                           class="col col-lg-2 col-md-6">
                                            <img class="avatar-img" src="{{ asset('assets/Images/camping.png') }}"
                                                 alt="">
                                        </a>
                                        <div class="col col-lg-6 col-md-6">
                                            <a href="{{ path('app_profile',{'Userid': post.owner.id}) }}"
                                               class="name">{{ post.owner.username }}</a>
                                            <p class="date">{{ post.createdAt|date('j F Y') }}</p>
                                        </div>
                                        <div class="col col-lg-4 col-md-3">
                                            <button postid="{{ post.id }}"
                                                    class="btn btn-sm btn-square pull-right LikeBtn"
                                                    style="display: inline;border-radius: 0;background-repeat: no-repeat;background-position: center;background-size: 60%;">
                                            </button>
                                            <p class="LikeCounter">{{ post.likes.count() }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!-- End Discover -->

    <!-- Start About Us -->
    <section id="About-us" class="About-us">
        <div class="container about-us-container">
            <div class="row about-us-row">
                <div class="col col-lg -8 col-md-6 image-About">
                    <div class="text-center about-us-text">
                        <h1 class="section-title mx-auto">About Us</h1>
                        <hr class="HR-LINE-About mx-auto">
                        <p>
                            We're on a mission to ignite your sense of adventure and open your eyes to the wonders of
                            Tunisia. As your trusted travel companion, we provide reliable information and insider tips
                            to
                            help you discover the hidden gems of this captivating country. Our values of authenticity,
                            reliability, respect for culture, and sustainability drive us to create memorable
                            experiences
                            for you. Join us on this thrilling journey to uncover the magic of Tunisia with TuniSights
                            as
                            your guide. <br>
                            "Discover the hidden tunisian gems with our community of passionate travelers."<br>
                            "Come wander with us, where the undiscovered lies, where the hidden gems await, and the
                            adventure never dies."
                        </p>

                    </div>
                </div>
                <div class="col">
                    <div class="text-center about-us-img">
                        <img class="img-fluid img-hover-pulse" src="{{ asset('assets/Images/camping.png') }} "></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Us -->

{% endblock %}
{% block Footer %}
    <!-- Start Footer -->
    <div class="footer">
        <div class="container_footer">
            <!-- <img src="../Images/logo.png" alt="Logo"/> -->
            <p class="parag2">
                Get In Touch With Us <br/>
                We Are waiting For Your Message
            </p>
            <div class="Email-link">
                <a class="btn rounded-pill main-btn w-100"
                   href="https://mail.google.com/mail/?view=cm&to=TuniSights@gmail.com"
                   target="_blank">TuniSights@gmail.com</a>
            </div>
            <div class="social-icons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div id="google_translate_element"></div>
            <p class="copyright">&copy; 2023 <span>TuniSights</span> All Right Reserved</p>
        </div>
    </div>
    <!-- End Footer -->
{% endblock %}

<script src="{{ asset('assets/Libs/bootstrap.min.js') }}"></script>
<script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="{{ asset('assets/Libs/jquery-3.6.4.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    var heartFilled = "{{ asset('assets/Images/HeartF.png') }}";
    var heartEmpty = "{{ asset('assets/Images/HeartI.png') }}";
</script>
{% block AddJSLinks %}
    <script src="{{ asset('assets/Libs/swiper-bundle.js') }}"></script>
    <script src="{{ asset('assets/JS/PostCard.js') }}"></script>
    <script src="{{ asset('assets/Libs/jquery-3.6.4.min.js') }}"></script>
    <script src="{{ asset('assets/JS/Like.js') }}"></script>

{% endblock %}
<script type="text/javascript" src="{{ asset('assets/JS/script.js') }}"></script>

</body>
</html>