<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Page Tile => changeable -->
    <title> {% block Title %} Tunisights {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/Libs/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" href="{{ asset('assets/Libs/swiper-bundle.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/CSS/NavBar.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,700;1,600&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
          rel="stylesheet"/>
    {% block AddCSSLinks %}
        <link rel="stylesheet" href="{{ asset('assets/CSS/styles.css') }}">
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/CSS/Footer.css') }}">

<body {% block BodynameClass %} {% endblock %} >
<!-- Navbar -->
<nav class="navbar navbar-dark navbar-expand-md fixed-top">
    <div class="container-fluid"><a class="navbar-brand" href=""><img
                    src="{{ asset('assets/Images/logo.png' ) }}" alt=""></a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="#Discover">Discover</a></li>
                <li class="nav-item"><a class="nav-link active" href="#About-us">About us</a></li>
                <li class="nav-item"><a class="nav-link active" href=""><i class="fas fa-search"></i>
                        Search </a></li>
                {% if not app.user %}
                    <li class="nav-item"><a class="nav-link active" href="{{ path('app_login') }}">Login</a></li>
                {% else %}
                    <li class="nav-item nav__profile ">
                        <div class="avatar">
                            <img class="nav-img" src="{{ asset('assets/Images/camping.png') }}">
                        </div>
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li class="nav-item"><a href="">Profile</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item"><a href="">Settings</a></li>
                            {% endif %}
                            <li class="nav-item"><a href="{{ path('app_logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!--End Navbar -->

{% block SectionsOfTheBody %}
    <div class="CardLoader" id="enabled"></div>

    <!-- Start Header     -->
    <header class="main-header">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-start header-elements">

                                {% for message in app.flashes('success') %}
                                    <div class="alert alert-success" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                                {% for message in app.flashes('success_register') %}
                                    <div class="alert alert-success" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}

                        <h1>Never stop <br>Exploring Tunisia</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- Images Of The Swipper in the HomePage -->

        <section class="home" id="home">
            <div class="swiper-container home-slider">
                <div class="swiper-wrapper">
                    {% for i in 1..2 %}
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/jemaa.png') }}" alt=""></div>
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/riviere.png') }}" alt=""></div>
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/ljam.png') }}" alt=""></div>
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/chalel.png') }}" alt=""></div>
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/neigeaindrahem.png') }}" alt="">
                        </div>
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/sahra.png') }}" alt=""></div>
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/bargou.png') }}" alt=""></div>
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/Tozeur.png') }}" alt=""></div>
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/Kerkennah.png') }}" alt=""></div>
                        <div class="swiper-slide"><img src="{{ asset('assets/Images/Ledahar.png') }}" alt=""></div>

                    {% endfor %}

                </div>
            </div>
        </section>

        <!-- Add angle Icon to The Bottom -->
        <div class="text-center link-icon">
            <a href="#Discover" class="angle">
                <i class="fa-solid fa-angles-down"></i>
            </a>
        </div>
    </header>
    <!-- End Header -->

    <!-- Start Discover -->
    <section id="Discover" class="Discover">
        <div class="text-center">
            <h1 class="section-title mx-auto">Discover</h1>

            <hr class="HR-LINE-Discover mx-auto">
            <h1 class="section-title mx-auto">Most Liked Posts </h1>
        </div>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    {% for i in 1..15 %}
                        <div class="card swiper-slide">
                            <div class="image-content">

                                <img src="{{ asset('assets/Images/Ledahar.png') }}" alt="" class="card-img Post">

                            </div>

                            <div class="card-content">
                                <h5 class="title">Title</h5>
                                <p class="description">The lorem text the section that contains header with having open
                                    functionality. Lorem dolor sit amet consectetur adipisicing
                                    elit.kjhidsknjqdlkzqdnklzsqdxs qx,qsxqzdnqlkzjsqklds,cnc, qjdneqjkdbcqkcsj nq;,dnc
                                    qlknqskm</p>

                                <div class="container">
                                    <div class="row">
                                        <a class="col col-lg-2 col-md-6">
                                            <img class="avatar-img" src="{{ asset('assets/Images/camping.png') }}"
                                                 alt="">
                                        </a>
                                        <div class="col col-lg-6 col-md-6">
                                            <a class="name">David Dell</a>
                                            <p class="date">Avril 08,2023 - 22:30</p>
                                        </div>
                                        <div class="col col-lg-4 col-md-3">
                                            <i class="fa-sharp fa-solid fa-heart"></i>
                                            <p class="like">64 likes</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!-- End Discover -->

    <!-- Start About Us -->
    <section id="About-us" class="About-us">
        <div class="container about-us-container">
            <div class="row about-us-row">
                <div class="col col-lg -8 col-md-6 image-About">
                    <div class="text-center about-us-text">
                        <h1 class="section-title mx-auto">About Us</h1>
                        <hr class="HR-LINE-About mx-auto">
                        <p>
                            We're on a mission to ignite your sense of adventure and open your eyes to the wonders of
                            Tunisia. As your trusted travel companion, we provide reliable information and insider tips
                            to
                            help you discover the hidden gems of this captivating country. Our values of authenticity,
                            reliability, respect for culture, and sustainability drive us to create memorable
                            experiences
                            for you. Join us on this thrilling journey to uncover the magic of Tunisia with TuniSights
                            as
                            your guide. <br>
                            "Discover the hidden tunisian gems with our community of passionate travelers."<br>
                            "Come wander with us, where the undiscovered lies, where the hidden gems await, and the
                            adventure never dies."
                        </p>

                    </div>
                </div>
                <div class="col">
                    <div class="text-center about-us-img">
                        <img class="img-fluid img-hover-pulse" src="{{ asset('assets/Images/camping.png') }} "></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Us -->

{% endblock %}

<!-- Start Footer -->
<div class="footer">
    <div class="container_footer">
        <!-- <img src="../Images/logo.png" alt="Logo"/> -->
        <p class="parag2">
            Get In Touch With Us <br/>
            We Are waiting For Your Message
        </p>
        <div class="Email-link">
            <a class="btn rounded-pill main-btn w-100"
               href="https://mail.google.com/mail/?view=cm&to=TuniSights@gmail.com"
               target="_blank">TuniSights@gmail.com</a>
        </div>
        <div class="social-icons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div id="google_translate_element"></div>
        <p class="copyright">&copy; 2023 <span>TuniSights</span> All Right Reserved</p>
    </div>
</div>
<!-- End Footer -->


<script src="{{ asset('assets/Libs/bootstrap.min.js') }}"></script>
<script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

{% block AddJSLinks %}
    <script src="{{ asset('assets/Libs/swiper-bundle.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/JS/script.js') }}"></script>
    <script src="{{ asset('assets/Libs/jquery-3.6.4.min.js') }}"></script>
    <script src="{{ asset('assets/JS/PostCard.js') }}"></script>
{% endblock %}

</body>
</html>