<div class="container my-5" style="border-color: black" id="CardBody">
    <link rel="stylesheet" href="{{ asset('assets/CSS/PostCard.css') }}">
    <div class="card mx-auto" id="PopupCard" style="border-radius: 20px">
        <div class="row no-gutters cardbody">
            <div class="col-md-8" id="ImgHolder">
                <img src="{{ asset('assets/Images/' ~ post.Image) }}" class="card-img" alt="..."
                     style="border-radius: 20px 0 0 20px">
            </div>
            <div class="col-md-4 position-relative">
                <div class="card-body d-flex flex-column" id="RSide">
                    <div>
                        <img src="{{ asset('assets/Images/' ~ post.owner.image) }}" alt="Small Image"
                             style="display: inline; border: 1px solid black;" height="35px" width="35px">
                        <p class="fw-bold" style="display: inline;margin-right: 3px">{{ post.owner.username }}</p>
                        {% if post.owner == app.user %}
                        <a href="{{ path('manage.Post',{'id': post.id}) }}">
                            <i class="fa-solid fa-pen-to-square" style="color: rgba(0, 97, 149, 0.9); margin-left: 21.9vh; "></i>
                        </a>
                        {% endif %}
                    </div>
                    <p class="Bio">{{ post.description }}</p>
                    <hr/>
                    <div class="comments mb-4 mt-auto CommentSectionContainer">
                        <ul class="list-group list-group-flush CommentSection" postid="{{ post.id}}">

                        </ul>
                    </div>
                    <div>
                        <button id="LikeBtn" postid="{{ post.id }}" class="btn btn-sm btn-square pull-right"
                                style="display: inline;border-radius: 0;background-repeat: no-repeat;background-position: center;background-size: 60%;">
                        </button>
                        <span style="display: inline;" postid="{{ post.id }}" class="LikeCounter">{{ post.likes.count }} likes</span>
                    </div>
                    <hr/>
                    <div class="input-group mb-1" id="commentHolder">
                        <input type="text" class="form-control CommentArea" placeholder="Add a comment..." postid="{{ post.id}}" >
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary Commentbtn" type="button" postid="{{ post.id}}">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>