{% block Title %} Profile {% endblock %}
{% block AddCSSLinks %}
  <link rel="stylesheet" href="{{ asset('assets/CSS/Profile.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/Libs/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/CSS/PostCard.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/CSS/NavBar.css') }}">
{% endblock %}

{% block AddJSLinks %}
  <script src="{{asset('assets/Libs/jquery-3.6.4.min.js')}}"></script>
  <script src="{{asset('assets/JS/Profile.js')}}"></script>
  <script src="{{asset('assets/JS/PostCard.js')}}"></script>
  <script src="{{asset('assets/JS/Like.js')}}"></script>

{% endblock %}
{% block SectionsOfTheBody %}
  <script>
    var heartFilled = "{{ asset('assets/Images/HeartF.png') }}";
    var heartEmpty =  "{{ asset('assets/Images/HeartI.png') }}";
  </script>
  {% if app.user==user %}
  {% for type, messages in app.flashes %}
    {% for message in messages %}
      <div class="alert alert-{{ type }}" style="text-align: center;color:white;background-color: rgba(0, 98, 149, 0.4);width: 40rem;margin-left: 28rem">
        {{ message }}
      </div>
    {% endfor %}
  {% endfor %}
  {% endif %}

  <div class="CardLoader" id="enabled"></div>
<div class="ProfileArea">
<div class="container col-md-5 col-lg-7">
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <img class=" profile_picture" src="{{ user.Image }}">
    </div>
    <div class="col-md-6 col-lg-4 mb-4" style="margin-left: 40px;padding-top: 25px">
      <h5 class="card-title">{{ user.username }}</h5>
      <p class="card-text">{{ user.bio }}</p>
      <button class="btn btn-primary mezyan" id="Editbtn">Edit</button>
    </div>
  </div>
</div>
</div>
<div class="container">
      <div class="row">
        {% for post in posts %}
        <div class="col-md-6 col-lg-4 mb-4">
          <img class="img-fluid Post" src="{{ post.Image }}" Postid="{{ post.id }}" alt="Gallery Image" style="border-radius: 20px">
        </div>
        {% endfor %}
      </div>
</div>
<div class="AddHolder">
  {% if app.user==user %}
  <a href="{{ path('manage.Post') }}"><button class="mezyan AddHolder"  type="button">Add Post</button></a>
  {% endif %}
</div>
{% endblock %}