{% extends 'index.html.twig' %}
{% block Title %} Profile {% endblock %}
{% block AddCSSLinks %}
  <link rel="stylesheet" href="{{ asset('assets/CSS/Profile.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/Libs/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/CSS/PostCard.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/CSS/NavBar.css') }}">
{% endblock %}

{% block AddJSLinks %}
  <script src="{{asset('assets/Libs/jquery-3.6.4.min.js')}}"></script>
  <script src="{{asset('assets/JS/PostCard.js')}}"></script>
  <script src="{{asset('assets/JS/Like.js')}}"></script>
  <script src="{{asset('assets/JS/Comment.js')}}"></script>
{% endblock %}
{% block SectionsOfTheBody %}
  <script>
    var heartFilled = "{{ asset('assets/Images/HeartF.png') }}";
    var heartEmpty =  "{{ asset('assets/Images/HeartI.png') }}";
  </script>
  {% if app.user==Userid %}
  {% for type, messages in app.flashes %}
    {% for message in messages %}
      <div class="alert alert-{{ type }}" style="text-align: center;color:white;background-color: rgba(0, 98, 149, 0.4);width: 40rem;margin-left: 28rem;margin-top: 10vh;margin-bottom: -10vh;">
        {{ message }}
      </div>
    {% endfor %}
  {% endfor %}
  {% endif %}

  <div class="CardLoader" id="enabled"></div>
  <div class="ProfileArea">
    <div class="container">
      <div class="row">
        <div class="col-md-3 mb-4">
          {% if app.user.image %}
            <img class="profile_picture" src="{{ asset('assets/Images/' ~ app.user.image) }}">
          {% else %}
            <img class="profile_picture" src="/assets/Images/avatar.png" />
          {% endif %}
        </div>
        <div class="col-md-9" id="text">
          <h5 class="card-title">{{ Userid.username }}</h5>
          <p class="card-text">{{  Userid.bio }}</p>
          {% if app.user == Userid %}
          <a href="{{ path('app_edit_profile') }}"><button class="butn " id="Editbtn">Edit</button></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
<div class="container">
      <div class="row">
        {% for post in posts %}
        <div class="col-md-6 col-lg-4 mb-4 image-container">
          <img class="img-fluid Post" src="{{ asset('assets/Images/' ~post.Image) }}" Postid="{{ post.id }}" alt="Gallery Image">
        </div>
        {% endfor %}
      </div>
</div>
<div class="AddHolder">
  {% if app.user==Userid %}
  <a href="{{ path('manage.Post') }}"><button class="mezyan AddHolder" type="button">Add Post</button></a>
  {% endif %}
</div>
{% endblock %}