{% extends 'index.html.twig' %}


{% block Title %} Search Page {% endblock %}


{% block AddCSSLinks %}
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="{{ asset('assets/CSS/Search.css') }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
{% endblock %}


{% block SectionsOfTheBody %}

    <header>
        <!-- search bar -->
        <h1 id="search">" Bon Voyage "</h1>
        <div class="search-bar">
            <input id="search-input" type="text" placeholder="what do you feel like at this moment ?">
            <button type="button" onclick="filterAndAddPostesBySearchText()">Search</button>
        </div>
    </header>
    <main>

        <!-- filter -->
        <div class="filter">
            <!-- posts number -->
            <div class="posts-number">
                <p id="posts-number"></p>
            </div>

            <!-- filter by state -->
            <label for="gouvernorat-select">Filter by State</label>
            <select id="gouvernorat-select">
                <option value="Tous">All</option>
                <option value="Ariana">Ariana</option>
                <option value="Béja">Béja</option>
                <option value="Ben Arous">Ben Arous</option>
                <option value="Bizerte">Bizerte</option>
                <option value="Gabès">Gabès</option>
                <option value="Jendouba">Jendouba</option>
                <option value="Kairouan">Kairouan</option>
                <option value="Kasserine">Kasserine</option>
                <option value="Kebili">Kebili</option>
                <option value="Kef">Kef</option>
                <option value="Mahdia">Mahdia</option>
                <option value="Manouba">Manouba</option>
                <option value="Medenine">Medenine</option>
                <option value="Monastir">Monastir</option>
                <option value="Nabeul">Nabeul</option>
                <option value="Sfax">Sfax</option>
                <option value="Siliana">Siliana</option>
                <option value="Sidi Bouzid">Sidi Bouzid</option>
                <option value="Sousse">Sousse</option>
                <option value="Tataouine">Tataouine</option>
                <option value="Tozeur">Tozeur</option>
                <option value="Tunis">Tunis</option>
                <option value="Zaghouan">Zaghouan</option>

            </select>
            <button onclick="filterAndAddPostesFromSelect()">Filter</button>
        </div>

        <!-- results -->
        <section class="resultats">
            <div class="postes">
                {% for post in postes %}
                    <div class="poste">
                        <h3 class="post-title">{{ post.title }}</h3>
                        <div class="post-content">
                            <img src="{{ post.imageLink }}" alt="Post image" class="post-image">
                            <div class="post-description">
                                <div class="Profile">
                                    <img src="{{ post.profileImage }}" alt="{{ post.profileUserName }}"
                                         class="profile-image">
                                    <div>
                                        <h6 class="post-username">{{ post.profileUserName }}</h6>
                                        <p class="post-date">{{ post.date }} at {{ post.time }}</p>
                                    </div>
                                </div>
                                <h4 class="post-place">Place: {{ post.place }}</h4>
                                <h5 class="post-state">State: {{ post.gouvernorat }}</h5>
                                <div class="post-description-text">
                                    <p class="limited-text">{{ post.description }}</p>
                                    <button class="show-more" onclick="showMore()">more</button>
                                </div>
                                <div class="post-footer">
                                    <div class="like-button">
                                        <img src="{{ asset('assets/Images/empty_heart.png') }}" alt="Like icon"
                                             onclick="addLike({{ post.postId }})">
                                        <span style="font-size: 14px">{{ post.likesNumber }} likes</span>
                                    </div>
                                    <div class="card-body d-flex flex-column">
                                        <div class="input-group mt-auto">
                                            <input type="text" class="form-control" placeholder="Add a comment..."
                                                   id="CommentLabel">
                                        </div>
                                        <div class="comments mb-4" style="max-height: 400px; overflow-y: auto;">
                                            <ul class="list-group list-group-flush" id="CommentSection">
                                                <li class="list-group-item"> j'adore</li>
                                                <li class="list-group-item"> C'est magnifique! J'aime trop</li>
                                                <li class="list-group-item"> AMAZING !!</li>

                                            </ul>
                                        </div>
                                    </div>

                                    <div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

    </main>


{% endblock %}


{% block AddJSLinks %}
    <script src="{{ asset('assets/JS/Search.js') }}"></script>
    <script src="{{ asset('assets/Libs/jquery-3.6.4.min.js') }}"></script>
    <script>

    </script>

{% endblock %}


